<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sup.itg.itgt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".dir18.ManifestActivity"></activity>
        <activity android:name=".dir17.TestItgrActivity" />
        <activity android:name=".touch.dir19.TouchTestActivity" />
        <activity android:name=".mvvm.KMvvmActivity" />
        <activity android:name=".mvvm.MvvmActivity" />
        <activity android:name=".customView.dir16.ViewDrawViewActivity" />
        <activity android:name=".customView.dir15.LetterSideActivity" />
        <activity android:name=".customView.dir13.RatingActivity" />
        <activity android:name=".customView.dir12.Wu58Activity" />
        <activity android:name=".customView.dir11.HorProgressActivity" />
        <activity android:name=".customView.dir10.ProgressBarActivity" />
        <activity android:name=".customView.dir9.ViewActivity" />
        <activity android:name=".customView.dir14.ScrollviewActivity" />
        <activity android:name=".customView.dir13.ProgressActivity" />
        <activity android:name=".dir8.FileProvideActivity" />
        <activity android:name=".animation.dir7.CoordinatorLayoutActivity" />
        <activity android:name=".customView.dir6.ShadowActivity" />
        <activity android:name=".customView.dir5.RadarActivity" />
        <activity android:name=".inject.dir4.InjectActivity" />
        <activity android:name=".struct.dir3.SortActivity" />
        <activity android:name=".touch.dir2.GestureActivity" />
        <activity android:name=".dir1.MatrixActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>