<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sup.itg.itgt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".java.web.WebActivity"></activity>
        <activity android:name=".java.animation.behavior.BehaviorActivity" />
        <activity android:name=".java.struct.linkStruct.BaseLinkActivity" />
        <activity android:name=".java.component.dir18.ManifestActivity" />
        <activity android:name=".java.customView.adapter_test.TestItgrActivity" />
        <activity android:name=".java.touch.dir19.TouchTestActivity" />
        <activity android:name=".java.mvvm.KMvvmActivity" />
        <activity android:name=".java.mvvm.MvvmActivity" />
        <activity android:name=".java.animation.QiCheZhiJia.ViewDrawViewActivity" />
        <activity android:name=".java.customView.dian_hua_bu.LetterSideActivity" />
        <activity android:name=".java.customView.star.RatingActivity" />
        <activity android:name=".java.customView.wu58Loading.Wu58Activity" />
        <activity android:name=".java.customView.heng_progress.HorProgressActivity" />
        <activity android:name=".java.customView.huan_xing_progress.ProgressBarActivity" />
        <activity android:name=".java.customView.huawenzi.ViewActivity" />
        <activity android:name=".java.customView.qq_hua_dong_caidan.ScrollviewActivity" />
        <activity android:name=".java.customView.star.ProgressActivity" />
        <activity android:name=".java.customView.provide_test.FileProvideActivity" />
        <activity
            android:name=".java.animation.material.QQZhuangTaiLanActivity"
            android:theme="@style/AppThemeNoBar" />
        <activity android:name=".java.customView.yinying.ShadowActivity" />
        <activity android:name=".java.customView.zhizhutu.RadarActivity" />
        <activity android:name=".java.inject.dir4.InjectActivity" />
        <activity android:name=".java.struct.sort.SortActivity" />
        <activity android:name=".java.touch.dir2.GestureActivity" />
        <activity android:name=".java.animation.matrix.MatrixActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>