<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sup.itg.itgt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".java.customView.bethel.BethelActivity"></activity>
        <activity android:name=".java.struct.linkStruct.BaseLinkActivity" />
        <activity android:name=".java.component.dir18.ManifestActivity" />
        <activity android:name=".java.customView.dir17.TestItgrActivity" />
        <activity android:name=".java.touch.dir19.TouchTestActivity" />
        <activity android:name=".java.mvvm.KMvvmActivity" />
        <activity android:name=".java.mvvm.MvvmActivity" />
        <activity android:name=".java.animation.QiCheZhiJia.ViewDrawViewActivity" />
        <activity android:name=".java.customView.dir15.LetterSideActivity" />
        <activity android:name=".java.customView.dir13.RatingActivity" />
        <activity android:name=".java.customView.wu58Loading.Wu58Activity" />
        <activity android:name=".java.customView.dir11.HorProgressActivity" />
        <activity android:name=".java.customView.dir10.ProgressBarActivity" />
        <activity android:name=".java.customView.dir9.ViewActivity" />
        <activity android:name=".java.customView.dir14.ScrollviewActivity" />
        <activity android:name=".java.customView.dir13.ProgressActivity" />
        <activity android:name=".java.customView.dir8.FileProvideActivity" />
        <activity android:name=".java.animation.material.CoordinatorLayoutActivity" />
        <activity android:name=".java.customView.dir6.ShadowActivity" />
        <activity android:name=".java.customView.dir5.RadarActivity" />
        <activity android:name=".java.inject.dir4.InjectActivity" />
        <activity android:name=".java.struct.sort.SortActivity" />
        <activity android:name=".java.touch.dir2.GestureActivity" />
        <activity android:name=".java.animation.matrix.MatrixActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>